{% extends 'base.html' %}

{% block title %}Documentos{% endblock %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h1>Números Cantados</h1>
        <h2>
          <p id="p-ajust2">
            {% for item in var_list %}
              {{ item }}
            {% endfor %}
          </p>
        </h2>
      </div>
       <h2>
          <p id="p-ajust2">
            Itens Sorteados: {{ total }}
          </p>
        </h2>

      </div>
    </div>
  </div>
</section><!-- End Hero -->

{% endblock %}